In [2]:
import pandas as pd 
import seaborn as sns

In [3]:
data = pd.read_csv(r"/Users/dimitriraymond/Documents/Epitech/Semestre 2/DAT/resultc/resultats_clusters23.csv")
data.shape
data.head()

           image  cluster
0  tt2321249.jpg        2
1  tt1477076.jpg        2
2  tt0089504.jpg        6
3  tt0089504.jpg        2
4  tt0086637.jpg        3

In [4]:
# Renommer la colonne "image" en "id"
data = data.rename(columns={"image": "id"})

# Afficher la forme du DataFrame modifié
print(data.shape)

# Afficher les premières lignes du DataFrame modifié
print(data.head())

(11160, 2)
              id  cluster
0  tt2321249.jpg        2
1  tt1477076.jpg        2
2  tt0089504.jpg        6
3  tt0089504.jpg        2
4  tt0086637.jpg        3

In [5]:
# Supprimer l'extension ".jpg" dans la colonne "id"
data['id'] = data['id'].str.replace('.jpg', '')

# Afficher les premières lignes du DataFrame modifié
print(data.head())

          id  cluster
0  tt2321249        2
1  tt1477076        2
2  tt0089504        6
3  tt0089504        2
4  tt0086637        3

/var/folders/wm/n1rrkfr90p706kj4_1pjy0000000gn/T/ipykernel_12710/224879356.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['id'] = data['id'].str.replace('.jpg', '')

In [6]:
data.to_csv(r"/Users/dimitriraymond/Documents/Epitech/Semestre 2/DAT/resultc/resultats_clusters24.csv", index=False)

In [8]:
import pandas as pd

# Charger le premier fichier CSV
data1 = pd.read_csv(r"/Users/dimitriraymond/Documents/Epitech/Semestre 2/DAT/resultc/resultats_clusters24.csv")

# Charger le deuxième fichier CSV
data2 = pd.read_csv(r"/Users/dimitriraymond/Documents/Epitech/Semestre 2/DAT/resultc/data481.csv")

# Fusionner les deux DataFrames en utilisant la colonne "id"
merged_data = pd.merge(data1, data2, on='id')

# Écrire le résultat dans un nouveau fichier CSV
merged_data.to_csv(r"/Users/dimitriraymond/Documents/Epitech/Semestre 2/DAT/resultc/cluster_number1.csv", index=False)