In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
calendar_dates = pd.read_csv(r'data_sncf/calendar_dates.csv')
calendar = pd.read_csv(r'data_sncf/calendar.csv')
routes = pd.read_csv(r'data_sncf/routes.csv')
stop_times = pd.read_csv(r'data_sncf/stop_times.csv')
trips = pd.read_csv(r'data_sncf/trips.csv')
stops = pd.read_csv(r'data_sncf/stops.csv')
timetables = pd.read_csv(r'data_sncf/timetables.csv', on_bad_lines='skip', sep='\t' , engine='python' )

In [ ]:
# Parcours des différents tables selon le mcd

In [3]:
# Recupére les arret vers Saint Lazare 
stops[(stops['stop_name'] == ("Gare de Paris-St-Lazare"))]

,stop_id,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
6,StopArea:OCE87384008,Gare de Paris-St-Lazare,NaN,48.877865,2.324433,NaN,NaN,1,NaN
3842,StopPoint:OCETrain TER-87384008,Gare de Paris-St-Lazare,NaN,48.877865,2.324433,NaN,NaN,0,StopArea:OCE87384008

In [76]:
#Recupére les stops_times avec l'ID précedement récuperer 
stop_times[(stop_times['stop_id'] == "StopPoint:OCETrain TER-87384008")]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
6,OCESN003191F020027314,09:12:00,09:12:00,StopPoint:OCETrain TER-87384008,0,NaN,0,0,NaN
12,OCESN003191F06006~NIR54906,08:52:00,08:52:00,StopPoint:OCETrain TER-87384008,0,NaN,0,0,NaN
18,OCESN003191F010017311,09:10:00,09:10:00,StopPoint:OCETrain TER-87384008,0,NaN,0,0,NaN
24,OCESN003117F14014~NIR54870,14:22:00,14:22:00,StopPoint:OCETrain TER-87384008,0,NaN,0,0,NaN
29,OCESN003115F33033~NIB54867,13:40:00,13:40:00,StopPoint:OCETrain TER-87384008,0,NaN,0,0,NaN
...,...,...,...,...,...,...,...,...,...
173254,OCESN850017F0200241930,17:53:00,17:53:00,StopPoint:OCETrain TER-87384008,0,NaN,0,0,NaN
173259,OCESN850019F0200241934,18:21:00,18:21:00,StopPoint:OCETrain TER-87384008,0,NaN,0,0,NaN
173300,OCESN850018F0200241931,08:35:00,08:35:00,StopPoint:OCETrain TER-87384008,4,NaN,0,0,NaN
173305,OCESN850018F0300341932,08:37:00,08:37:00,StopPoint:OCETrain TER-87384008,4,NaN,0,0,NaN
173310,OCESN850016F0200241928,08:07:00,08:07:00,StopPoint:OCETrain TER-87384008,4,NaN,0,0,NaN

In [74]:
# Recupére les données de timetable avec un des trips ID précedent. 
timetables[(timetables['trip_id'] == "OCESN003100F140147152")]

                 trip_id                                      trajet  duree
0  OCESN003100F140147152  Gare de Le Havre - Gare de Paris-St-Lazare    138