In [139]:
import pandas as pd
import csv

In [140]:
color_mapping = {
    'noir': '0',
    'blanc': '1',
    'gris': '2',
    'rose': '3',
    'orange': '4',
    'marron': '5',
    'bleu': '6',
    'violet': '7',
    'rouge': '8',
    'jaune': '9',
    'vert': '10'
}

try:
    with open('Couleur/fichier.csv', 'r') as input_file, open('color_num.csv', 'w', newline='') as output_file:
        reader = csv.DictReader(input_file)
        fieldnames = reader.fieldnames

        writer = csv.DictWriter(output_file, fieldnames=fieldnames)
        writer.writeheader()

        for row in reader:
            Couleur_nominale = row['Couleur nominale']
            for color, value in color_mapping.items():
                Couleur_nominale = Couleur_nominale.replace(color, value)
            row['Couleur nominale'] = Couleur_nominale
            writer.writerow(row)

    print("Le fichier color_num.csv a été créé avec succès.")
except Exception as e:
    print(f"Erreur lors de la création du fichier color_num.csv : {str(e)}")

Le fichier color_num.csv a été créé avec succès.

In [141]:
df_color = pd.read_csv("color_num.csv")
df_color2 = pd.read_csv("Couleur/color2_num.csv")
#df_date = pd.read_csv("Date/resultat4.csv")
#df_title = pd.read_csv("Title/nouveau_fichier.csv")
df_visage = pd.read_csv("visage/new_nb_pos_emo_visage_num.csv")
df_cluster = pd.read_csv("cluster_number1.csv")

df_train = pd.read_csv("../Multi_Label_dataset/train.csv")

In [142]:
df_color_selected = df_color
df_color2_selected = df_color2
#df_date_selected = df_date[["ID","Nom du dossier"]]
#df_title_selected = df_title[["Titre de l'image","Sujets","0","1","2","3","4","5","6","7","8"]]
df_cluster_selected = df_cluster

df_visage_selected = df_visage

if 'Genre' in df_train.columns:
    # Supprimer la colonne 'genre'
    df_train_selected = df_train.drop('Genre', axis=1)
#df_train_selected = df_train[["Id","Action","Adventure","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action","Action"]]

In [143]:
df_train_selected.columns

Index(['Id', 'Action', 'Adventure', 'Animation', 'Biography', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'History',
       'Horror', 'Music', 'Musical', 'Mystery', 'N/A', 'News', 'Reality-TV',
       'Romance', 'Sci-Fi', 'Short', 'Sport', 'Thriller', 'War', 'Western'],
      dtype='object')

In [144]:
# Action, Adventure, Sci-Fi
df_train_selected["Action_Adventure_Sci-Fi"] = df_train_selected["Action"] + df_train_selected["Adventure"] + df_train_selected["Sci-Fi"]
df_train_selected.loc[df_train_selected["Action_Adventure_Sci-Fi"] > 1, "Action_Adventure_Sci-Fi"] = 1

# Supprimer les colonnes d'origine
df_train_selected = df_train_selected.drop(["Action", "Adventure", "Sci-Fi"], axis=1)

# Animation, Family, Fantasy
df_train_selected["Animation_Family_Fantasy"] = df_train_selected["Animation"] + df_train_selected["Family"] + df_train_selected["Fantasy"]
df_train_selected.loc[df_train_selected["Animation_Family_Fantasy"] > 1, "Animation_Family_Fantasy"] = 1

# Supprimer les colonnes d'origine
df_train_selected = df_train_selected.drop(["Animation", "Family", "Fantasy"], axis=1)

# Music, Musical
df_train_selected["Music_Musical"] = df_train_selected["Music"] + df_train_selected["Musical"]
df_train_selected.loc[df_train_selected["Music_Musical"] > 1, "Music_Musical"] = 1

# Supprimer les colonnes d'origine
df_train_selected = df_train_selected.drop(["Music", "Musical"], axis=1)

# Crime, Mystery, Thriller
df_train_selected["Crime_Mystery_Thriller"] = df_train_selected["Crime"] + df_train_selected["Mystery"] + df_train_selected["Thriller"]
df_train_selected.loc[df_train_selected["Crime_Mystery_Thriller"] > 1, "Crime_Mystery_Thriller"] = 1

# Supprimer les colonnes d'origine
df_train_selected = df_train_selected.drop(["Crime", "Mystery", "Thriller"], axis=1)

# Drama, Romance
df_train_selected["Drama_Romance"] = df_train_selected["Drama"] + df_train_selected["Romance"]
df_train_selected.loc[df_train_selected["Drama_Romance"] > 1, "Drama_Romance"] = 1

# Supprimer les colonnes d'origine
df_train_selected = df_train_selected.drop(["Drama", "Romance"], axis=1)

# History, Biography, War
df_train_selected["History_Biography_War"] = df_train_selected["History"] + df_train_selected["Biography"] + df_train_selected["War"]
df_train_selected.loc[df_train_selected["History_Biography_War"] > 1, "History_Biography_War"] = 1

# Supprimer les colonnes d'origine
df_train_selected = df_train_selected.drop(["History", "Biography", "War"], axis=1)

# Reality-TV, News
df_train_selected["Reality_TV_News"] = df_train_selected["Reality-TV"] + df_train_selected["News"]
df_train_selected.loc[df_train_selected["Reality_TV_News"] > 1, "Reality_TV_News"] = 1

# Supprimer les colonnes d'origine
df_train_selected = df_train_selected.drop(["Reality-TV", "News"], axis=1)

In [145]:
df_train_selected.columns

Index(['Id', 'Comedy', 'Documentary', 'Horror', 'N/A', 'Short', 'Sport',
       'Western', 'Action_Adventure_Sci-Fi', 'Animation_Family_Fantasy',
       'Music_Musical', 'Crime_Mystery_Thriller', 'Drama_Romance',
       'History_Biography_War', 'Reality_TV_News'],
      dtype='object')

In [146]:
df_color_selected.rename(columns={"Titre de l'image":"id"}, inplace=True)
df_visage_selected.rename(columns={"Id":"id"}, inplace=True)
df_train_selected.rename(columns={"Id":"id"}, inplace=True)

In [147]:
df_color_selected["id"] = df_color_selected["id"].str[:-4]

In [148]:
merged_df = pd.merge(df_color_selected, df_color2_selected, on="id", how = "outer")
merged_df = pd.merge(merged_df, df_visage_selected, on="id", how = "outer")
merged_df = pd.merge(merged_df, df_cluster_selected, on="id", how = "outer")
merged_df = pd.merge(merged_df, df_train_selected, on="id", how = "outer")

In [149]:
merged_df.to_csv("new_dataset_model.csv", index=False)

In [150]:
merged_df

,id,Couleur nominale,couleur_secondaire,nb_visages,position_visage,emotion1,emotion2,cluster,number,Comedy,...,Short,Sport,Western,Action_Adventure_Sci-Fi,Animation_Family_Fantasy,Music_Musical,Crime_Mystery_Thriller,Drama_Romance,History_Biography_War,Reality_TV_News
0,tt1786751,7,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,tt1762399,0,3.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,tt2094890,0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,tt2042568,3,3.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,tt2042568,3,3.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11426,tt0398872,0,3.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11427,tt0398872,0,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11428,tt0388888,1,3.0,1.0,1.0,1.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
11429,tt0409673,1,1.0,2.0,2.0,1.0,2.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
11430,tt0409673,1,1.0,2.0,2.0,1.0,2.0,6.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0